@import "variables.module";

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: var(--headerHeight);
    box-sizing: border-box;

    padding: 0 5px 0 5px;
    background: linear-gradient(to top, #ffffff, #e0e0e0);
    z-index: 10;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;

    .UserPP {
        position: relative;
        height: calc(var(--headerHeight) - 4vh);
        width: calc(var(--headerHeight) - 4vh);
        box-sizing: content-box;
        left: 10%;

        * {
            border-radius: 50%;
            border: 2px solid $mainColor;
            padding: 1px;
            @include makeClickable();
        }
    }

    .pageTitle {
        text-align: center;
        color: $mainColor;

        font-size: 2.5em;
        font-weight: bolder;
        background-image: linear-gradient(to bottom, $mainColor, $heartColor);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // text-shadow: 2px 2px 1px $secondaryColor;
    }

    

    svg {
        justify-self: end;
        padding: 5px;
        align-self: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        box-sizing: border-box;

        @include makeClickable();
    }
}

@media (min-width: $tablet-width) {
    #mainBody {
        --headerHeight: 12vh;
    }
    header {
        .pageTitle {
            font-size: 3em;
        }
        svg {
            width: 50px;
            height: 50px;
        }
    }
}

@media (min-width: $desktop-width) {
    #mainBody {
        --headerHeight: 10vh;
    }
    header {
        svg {
            display: none;
        }
    }
}
