#mainBody{
    --headerHeight: 10vh;
}

$darkGrey: #373737;
$mainColor: #593ca1;
$secondaryColor: #d21fb1;
$heartColor: #ef5a5a;
$unusedColor: #cec6e4;

$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;


$bottomNavColor: $mainColor;
$lightGray: rgba(0, 0, 0, 0.651);
$selectedColor: #e0e0e0;

$postImageHeight: 300;
$postImageWidth: 300;



:export {
    unusedColor:$unusedColor;
    postImageHeight:$postImageHeight;
    postImageWidth:$postImageWidth;
    bottomNavColor:$bottomNavColor;
}

@mixin makeClickable{
    &:active{
        background-color: $selectedColor;
    }

    &:hover{
        background-color: $selectedColor;
        cursor: pointer;
    }
}